[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
pytest = ">=4.4"
pytest-json = "*"
pytest-mypy = "*"
pytest-pylint = "*"
typing-extensions = "*"
dataclasses = "*"
grpcio = ">=1.20"
grpcio-tools = ">=1.20"
ed25519 = "*"
in-place = "*"
pyblake2 = "*"
setuptools = "*"
pre-commit = "*"
flake8 = "==3.7.7"
black = "==19.3b0"
importlib_resources = "*"
requests = "*"

[dev-packages]
